@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

:root {
  --black: #1d1c1e;
  --white: #ffffff;
  --pale-grey-blue: #f1f3f5;
  --dark-chocolate: #532500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Jost', sans-serif;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1100px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

.text_white {
  color: var(--white);
}
